$color_1: #b10000;
$color_2: #2ab400;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: #ffffff;
$background-color_2: #f0f0f0;
$border-top-color_1: #000000;
$border-left-color_1: #000000;

body {
	font-family: $font-family_1;
}
@media (min-width: 768px) {
	.container {
		display: flex;
		height: 100vh;
		flex-direction: row;

        &-right {
            width: 80vw;
            background-color: $background-color_1;
            padding: 1rem;
            border-left-style: solid;
            border-left-color: $border-left-color_1;
            border-left-width: 3px;
        }
        &-left {
            width: 20vw;
            background-color: $background-color_2;
            padding: 1rem;
        }
	}
	.menu-item {
		display: block;
		padding: 1rem;
		margin-bottom: 1rem;
		background-color: $background-color_1;
		border: 1px solid;
		text-align: center;
	}
}
@media (max-width: 768px) {
	.container {
		display: flex;
		height: 100vh;
		flex-direction: column;

        &-right {
            width: 100vw;
            height: 100vh;
            background-color: $background-color_1;
            padding: 1rem;
            border-top-style: solid;
            border-top-color: $border-top-color_1;
            border-top-width: 3px;
        }
		&-left {
			width: 100vw;
			background-color: $background-color_2;
			padding: 1rem;
		}
		.menu-item {
			display: inline-block;
			padding: 1rem;
			margin: 1rem;
			background-color: $background-color_1;
			border: 1px solid;
			text-align: center;
		}
	}
}
.homero-img {
	width: 80%;
	height: 90%;
}
.img-bio {
	display: block;
	margin: 0 auto;
}
.text-bio {
	text-align: center;
	font-style: italic;
	line-height: 1;
}
.negrita {
	font-weight: bold;
}
h2 {
	margin-top: 0;
}
.form-control {
	display: block;
	margin: 0.5rem 0;
}
.form-button {
	display: block;
}
.error {
	color: $color_1;
	display: none;
}
.show-error {
	display: block;
}
.exito {
	color: $color_2;
	display: none;
}
.show-exito {
	display: block;
}
.user-img {
	display: block;
	margin: 0 auto;
}
#get-user {
	display: block;
	margin: 0 auto;
}
.user {
	text-align: center;
	margin: 0 auto;
}
.error-api {
	color: $color_1;
	display: none;
}
.show-error-api {
	display: block;
}