body {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }
  .container-right {
    width: 80vw;
    background-color: #ffffff;
    padding: 1rem;
    border-left-style: solid;
    border-left-color: #000000;
    border-left-width: 3px;
  }
  .container-left {
    width: 20vw;
    background-color: #f0f0f0;
    padding: 1rem;
  }
  .menu-item {
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border: 1px solid;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  .container-right {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    padding: 1rem;
    border-top-style: solid;
    border-top-color: #000000;
    border-top-width: 3px;
  }
  .container-left {
    width: 100vw;
    background-color: #f0f0f0;
    padding: 1rem;
  }
  .menu-item {
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border: 1px solid;
    text-align: center;
  }
}

.homero-img {
  width: 80%;
  height: 90%;
}

/* Bio */
.img-bio {
  display: block;
  margin: 0 auto;
}

.text-bio {
  text-align: center;
  font-style: italic;
  line-height: 1;
}

.negrita {
  font-weight: bold;
}

/* Contacto */
h2 {
  margin-top: 0;
}

.form-control {
  display: block;
  margin: 0.5rem 0;
}

.form-button {
  display: block;
}

.error {
  color: #b10000;
  display: none;
}

.show-error {
  display: block;
}

.exito {
  color: #2ab400;
  display: none;
}

.show-exito {
  display: block;
}

/* User */
.user-img {
  display: block;
  margin: 0 auto;
}

#get-user {
  display: block;
  margin: 0 auto;
}

.user {
  text-align: center;
  margin: 0 auto;
}

.error-api {
  color: #b10000;
  display: none;
}

.show-error-api {
  display: block;
}