$colorBlack: #000000;
$colorWhite: #ffffff;
$colorFirst: #fae1ad;
$colorError: #b10000;
$colorSuccess: #2ab400;

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    &-right {
        width: 100%;
        background-color: $colorFirst;
        padding: 1rem;
        border-left-style: solid;
        border-left-color: $colorBlack;
        border-left-width: 2px;
    }
    &-left {
        width: 20%;
        background-color: $colorWhite;
        padding: 1rem;
    }
}

@media (min-width: 768px) {
    .container {
            flex-direction: row;
        &-right {
            width: 100%;
            background-color: $colorFirst;
            padding: 1rem;
            border-left-width: 2px;
        }
        &-left {
            width: 20%;
            background-color: $colorWhite;
            padding: 1rem;
        }
    }
}

.menu-item {
    display: block;
    margin-bottom: 1rem;
    background-color: $colorFirst;
    border: 1px solid;
    text-align: center;
}

.homero-img {
    width: 80%;
    height: 90%;
}

/* Bio */
.img-bio {
    display: block;
    margin: 0 auto;
}

.text-bio {
    text-align: center;
    font-style: italic;
    line-height: 1;
}

span.negrita {
    font-weight: bold;
}

/* Contacto */
h2 {
    margin-top: 0;
}

.form-control {
    display: block;
    margin: 0.5rem 0;
}

.form-button {
    display: block;
}

.error {
    color: $colorError;
    display: none;
}

.show-error {
    display: block;
}

.exito {
    color: $colorSuccess;
    display: none;
}

.show-exito {
    display: block;
}

/* User */
.user-img {
    display: block;
    margin: 0 auto;
}

#get-user {
    display: block;
    margin: 0 auto;
}

.user {
    text-align: center;
    margin: 0 auto;
}

.error-api {
    color: $colorError;
    display: none;
}

.show-error-api {
    display: block;
}